In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pyplot
#Modeling
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

In [3]:
df = df = pd.read_csv(r"C:\Users\azhar\Desktop\ML_Projects\notebook\exams.csv")

In [4]:
df.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55

In [8]:
x = df.drop(columns=['math score'],axis = 1)
y = df['math score']

In [9]:
print(x)
print(y)

     gender race/ethnicity parental level of education         lunch  \
0      male        group A                 high school      standard
1    female        group D            some high school  free/reduced
2      male        group E                some college  free/reduced
3      male        group B                 high school      standard
4      male        group E          associate's degree      standard
..      ...            ...                         ...           ...
995    male        group C                 high school      standard
996    male        group D          associate's degree  free/reduced
997  female        group C            some high school  free/reduced
998  female        group C                some college      standard
999    male        group A                some college      standard

    test preparation course  reading score  writing score
0                 completed             67             63
1                      none             59             55
2                      none             60             50
3                      none             78             68
4                 completed             73             68
..                      ...            ...            ...
995                    none             70             65
996               completed             91             92
997                    none             35             41
998                    none             74             82
999               completed             60             62

[1000 rows x 7 columns]
0      67
1      40
2      59
3      77
4      78
       ..
995    73
996    85
997    32
998    73
999    65
Name: math score, Length: 1000, dtype: int64

In [ ]:
num_feature = x.select_dtypes(exclude ="object")
cat_feature = x.select_dtypes(include="object")

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transfromar = StandardScaler()
oh_transfromer = OneHotEncoder()

preprocessor=ColumnTransformer(
    ("OneHotEncoder", oh_transfromer, cat_feature )
    ("StandardScaler", numeric_transfromar, num_feature)
)